@model StudentsGroupModel

@{ ViewData["Title"] = "Добавление группы"; }

<div class="container">
    <h2>Добавить группу на курс @ViewBag.Course.Name</h2>
    @using (Html.BeginForm("AddStudentsGroup", "StudentsGroups", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary()
        </div>

        @Html.Hidden("EnglishLevel", (object)ViewBag.Course.EnglishLevel)
        @Html.Hidden("Id", (object)ViewBag.Course.Id)
        @Html.Hidden("CourseId", (object)ViewBag.Course.Id)
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="GroupName" class="form-label">Название группы</label>
                <input type="text" class="form-control" id="GroupName" name="GroupName" asp-for="GroupName">
                <span class="alert-danger" asp-validation-for="GroupName"></span>
            </div>
            <div class="col-sm-6">
                <label asp-for="TeacherId" class="col-form-label py-1">Преподаватель</label>
                <select class="form-select" asp-for="TeacherId">
                    <option value=""></option>
                    @foreach (var teacher in (List<TeacherModel>)ViewBag.Teachers)
                    {
                        <option value="@teacher.Id">@teacher.LastName @teacher.FirstName</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div>
            <table class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Дата подачи заявки</th>
                        <th scope="col">Возраст</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in ViewBag.Requests)
                    {
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@request.Id" name="RequestIds">
                                    <label class="form-check-label" for="flexCheckDefault"></label>
                                </div>
                            </td>
                            <td scope="col">@request.FirstName @request.MiddleName @request.LastName</td>
                            <td scope="col">@request.DateOfRequest</td>
                            <td scope="col">@request.Age</td>
                            <td scope="col">@request.PhoneNumber</td>
                            <td scope="col">@request.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <p><b>Для добавления группы необходимо выбрать не менее 3 и не более 5 студентов.</b></p>
        <button type="submit" class="btn btn-success">Добавить</button>
    }
</div>

@section Scripts{ @await Html.PartialAsync("_ValidationScriptsPartial.cshtml") }