@model StudentsGroupModel

@{ ViewData["Title"] = "Редактировать группу "; }

<div class="container">
    <h2>Редактирование группы @Model.GroupName</h2>
    @using (Html.BeginForm("EditStudentsGroup", "StudentsGroups", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary()
        </div>
        @Html.HiddenFor(g => g.Id)
        @Html.HiddenFor(g => g.CourseId)
        @Html.HiddenFor(g => g.EnglishLevel)
        @Html.Hidden("RequestIds", new List<int> (3))
        <div class="row">
            <div class="col-md-6">
                <label asp-for="GroupName" class="form-label">Название группы</label>
                <input type="text" class="form-control" id="GroupName" name="GroupName" asp-for="GroupName">
                <span class="alert-danger" asp-validation-for="GroupName"></span>
            </div>
            <div class="col-sm-6">
                <label asp-for="TeacherId" class="col-form-label py-1">Преподаватель</label>
                <select class="form-select" asp-for="TeacherId">
                    <option value="@Model.Teacher.LastName @Model.Teacher.FirstName"></option>
                    @foreach (var teacher in (List<TeacherModel>)ViewBag.Teachers)
                    {
                        <option value="@teacher.Id">@teacher.LastName @teacher.FirstName</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <div>
            <table class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ФИО</th>
                        <th scope="col">Возраст</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Текущий уровень языка</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Students)
                    {
                        <tr>
                            <td scope="col" class="align-middle"><a asp-controller="Students" asp-action="EditStudent" asp-route-id="@student.Id">@student.LastName @student.MiddleName @student.FirstName</a></td>
                            <td scope="col" class="align-middle">@student.Age</td>
                            <td scope="col" class="align-middle">@student.Status</td>
                            <td scope="col" class="align-middle">@student.CurrentEnglishLevel</td>
                            <td scope="col" class="align-middle">@student.PhoneNumber</td>
                            <td scope="col" class="align-middle">@student.Email</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Exclude", "Students", new { id = student.Id})'">Исключить</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Сохранить</button>
    }
</div>

@section Scripts{ @await Html.PartialAsync("_ValidationScriptsPartial.cshtml") }