@model List<TeacherModel>

<div class="container">
    <div>
        <table class="table table-sm table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Образование</th>
                    <th scope="col">Специализация</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <th scope="col">@teacher.Id</th>
                        <td scope="col"> <a asp-controller="Teachers" asp-action="EditTeacher" asp-route-id="@teacher.Id">@teacher.FirstName @teacher.MiddleName @teacher.LastName</a></td>
                        <td scope="col">@teacher.Age</td>
                        <td scope="col">@teacher.GraduatedFrom - @teacher.Degree</td>
                        <td scope="col">@teacher.MainSpecialization</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        <p><div class="text-info">Кол-во преподавателей: @Model.Count()</div></p>
    <div>
        @Html.ActionLink("Добавить преподавателя", "AddTeacher", "Teachers", null, new { @class = "btn btn-primary" })
    </div>
</div>
