@model List<TeacherModel>

<div>
    <table class="table table-sm table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Education</th>
                <th scope="col">Specialization</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
                    <th scope="col">@teacher.ID</th>
                    <td scope="col"> <a asp-controller="Teachers" asp-action="EditTeacher" asp-route-id="@teacher.ID">@teacher.FirstName @teacher.MiddleName @teacher.LastName</a></td>
                    <td scope="col">@teacher.Age</td>
                    <td scope="col">@teacher.Gender</td>
                    <td scope="col">@teacher.GraduatedFrom - @teacher.Degree</td>
                    <td scope="col">@teacher.MainSpecialization</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<tr>
    <th><div class="text-info">Total participants: @Model.Count()</div></th>
</tr>
<div>
    <br/>
    @Html.ActionLink("Add new teacher", "AddTeacher", "Teachers", null, new { @class = "btn btn-primary" })
</div>