@model List<StudentModel>

<div>
    <table class="table table-sm table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Current English Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <th scope="col">@student.Id</th>
                    <td scope="col"> <a asp-controller="Students" asp-action="EditStudent" asp-route-id="@student.Id">@student.FirstName @student.MiddleName @student.LastName</a></td>
                    <td scope="col">@student.Age</td>
                    <td scope="col">@student.CurrentEnglishLevel</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<tr>
    <th><div class="text-info">Total participants: @Model.Count()</div></th>
</tr>
<div>
    <br/>
    @Html.ActionLink("Add new student", "AddStudent", "Students", null, new { @class = "btn btn-primary" })
</div>