@model List<StudentModel>

<div class="container">
    <div>
        <table class="table table-sm table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Текущий уровень владения языком</th>
                    <th scope="col">Номер телефона</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <th scope="col">@student.Id</th>
                        <td scope="col"> <a asp-controller="Students" asp-action="EditStudent" asp-route-id="@student.Id">@student.FirstName @student.MiddleName @student.LastName</a></td>
                        <td scope="col">@student.Age</td>
                        <td scope="col">@student.Group</td>
                        <td scope="col">@student.CurrentEnglishLevel</td>
                        <td scope="col">@student.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p><div class="text-info">Total participants: @Model.Count()</div></p>
    <div>
        @Html.ActionLink("Добавить студента", "AddStudent", "Students", null, new { @class = "btn btn-primary" })
    </div>
</div>