@model List<RequestModel>

<div class="container">
    <div>
        <table class="table table-sm table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Email</th>
                    <th scope="col">Заявка на курс</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <th scope="col">@request.Id</th>
                        <td scope="col"> <a asp-controller="Requests" asp-action="EditRequest" asp-route-id="@request.Id">@request.FirstName @request.MiddleName @request.LastName</a></td>
                        <td scope="col">@request.Age</td>
                        <td scope="col">@request.PhoneNumber</td>
                        <td scope="col">@request.Email</td>
                        <td scope="col">@request.Course?.Name</td>
                        <td scope="col">@request.RequestStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p><div class="text-info">Кол-во запросов: @Model.Count()</div></p>
    <div>
        @Html.ActionLink("Добавить запрос", "AddRequest", "Requests", null, new { @class = "btn btn-primary" })
    </div>
</div>
