@model List<CourseModel>

@using CRM_for_English_School.AppCore.Enums;

<div class="container">
    <div>
        <table class="table table-sm table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Уровень языка</th>
                    <th scope="col">Дата старта</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <th scope="col">@course.Id</th>
                        <td scope="col"> <a asp-controller="Courses" asp-action="EditCourse" asp-route-id="@course.Id">@course.Name</a></td>
                        <td scope="col">@course.EnglishLevel</td>
                        <td scope="col">@course.ExpectedStartDate.ToShortDateString()</td>
                        <td>
                            @if (course.Requests.Where(r => r.RequestStatus == RequestStatus.Confirmed).Count() >= 3)
                            {
                                <button type="button" class="btn btn-primary btn-sm position-relative" onclick="location.href='@Url.Action("AddStudentsGroup", "StudentsGroups", new { id = course.Id})'">
                                    Создать группу
                                    <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">
                                        @course.Requests.Where(r => r.RequestStatus == RequestStatus.Confirmed).Count()
                                    </span>
                                </button>

                            }
                            else
                            {
                                <button type="button" class="btn btn-secondary btn-sm position-relative" disabled>
                                    Создать группу
                                    <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger">
                                        @course.Requests.Where(r => r.RequestStatus == RequestStatus.Confirmed).Count()
                                    </span>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p><div class="text-info">Кол-во курсов: @Model.Count()</div></p>
    <div>
        @Html.ActionLink("Добавить курс", "AddCourse", "Courses", null, new { @class = "btn btn-primary" })
    </div>
</div>